/* .overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(rgba(0, 92, 169, 0.3), rgba(0, 92, 169, 0.5));
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-box img {
  width: 150px;
}

.overlay-inner {
  background: white;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.overlay-inner .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
} */
.whole-book-page{
  display: flex;
}