.btn-login {
  margin-top: 1rem;
  display: inline-block;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--secondary-color);
  font-size: 1.2rem;
}

.btn-login:hover {
  color: var(--secondary-color);
  background-color: var(--white-color);
  border: 1px solid var(--secondary-color);
}

.form-group p {
  margin-top: -10px;
  font-size: 0.8rem;
  color: red;
}

.form-section {
  padding: 0 1rem;
  background-color: var(--white-color);
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
}

.form .btn:hover {
  transform: scale(0.98);
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-group select {
  border: 1px solid #e6e6e6;
}

.error {
  border: 1px solid red;
}

.error:focus {
  outline: 1px solid red;
}

.form-valid {
  border: 1px solid #e6e6e6;
}

.form-valid:focus {
  outline: 1px solid var(--link-color);
}

.error-msg {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24 !important;
}

.succeed-msg {
  color: #004085 !important;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
}

.succeed-msg,
.error-msg {
  font-size: 1rem;
  margin: 0;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 0.8rem;
}

.heading {
  align-items: center;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
